*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: #fafaff;
    color: #191919;
    font-family: 'Red Hat Text', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vh;
    align-items: center;

    margin: 10px 30px;
}

header img{
    height: 120px;
    border-radius: 10px;
}

header div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 40px;
}

header div h1{
    font-weight: 700;
}

header div h2{
    font-weight: 500;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 210px;
}

nav a{
    text-decoration: none;
    color: #191919;
    font-size: 10px;
    font-weight: 500;

}

nav a h2{
    text-decoration: none;
    color: #191919;
    font-size: 15px;
    font-weight: 200;

}

nav a img{

    height: 150px;
    border-radius: 10px;
    border: #e9c46a 2px solid;
}
